<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Bookshelf</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path=='/books' %}class="active"{% endif %}><a href="/books">Książki</a></li>
                <li {% if request.path=='/authors' %}class="active"{% endif %}><a href="/authors">Autorzy</a></li>
            </ul>
        </div>
    </div>
</div>
