<HTML lang="pl">
<HEAD>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>

</HEAD>
<BODY>
    {% include '_navbar.html' %}
<div id="root">
    <div class="input-group">
        <input v-model="searchText" type="text" class="form-control" placeholder="Search for...">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
                <th>X</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="author in filteredAuthors">
                <td><a v-text="author.second_name + ', ' + author.first_name" href="#"></a></td>
                <td>
                    
                </td>

            </tr>
</tbody>
    </table>
    
</div>
</BODY>
<script src="/static/js/authors.js"></script>
</HTML>
